<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <div>
      <p>
        <h1>New user request for xanderduell.com</h1>
      </p>
      <p>
        <%= @email_address %> would like admin_credentials.
      </p>
      <p>
        To verify, please send them this uuid:
        <%= @user.uuid %>
      </p>




    </div>
  </body>
</html>
