<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <div>
      <p>
        <h1>New user request for xanderduell.com</h1>
      </p>
      <p>
        <%= @user.username %> at <%= @user.email_address %> would like admin_credentials.
      </p>
    </div>

  </body>
</html>
