<div class="admin_header_container">
  <div class="text-left admin-panel group">
    <span class="admin_header_text">Administrator control panel</span>
  </div>
  <div class="text-right admin-panel admin_panel_button_container group">
    <%= link_to 'LOGOUT', logout_path, :class => "admin_header_button" %>
  </div>
  <div class="clear"></div>
</div>

<div class="admin_body_container">

  <div class="admin_control_panel_flash_message_container">
    <!-- IF FLASH MAKE A MESSAGE HERE -->

  </div>


  <div class="admin_control_panel_dashboard_container">
    <div class="admin_control_panel_title_container">
      <span class="admin_control_panel_text">Frontpage post dashboard</span>
    </div>
    <div class="admin_control_panel_dashboard_controls_container">
      | + ADD A NEW HEADLINE | + ADD A NEW POST
    </div>
  </div>

  <div class="admin_dashboard_frontpage">
   PRIORITY | HEADLINE
  </div>

  <!-- LOOP FOR EACH TITLE -->
  <% unless @titles.blank? %>
    <% @titles.each do |title| %>

      <!-- LOOP FOR EACH POST -->
      <% title.posts.each do |post| %>

      <% end %>

    <% end %>

  <% else %>

    NO TITLES

  <% end %>

</div>
