<div class="music_box_container"> 
  
  <div class="modal-close-btn music-modal-close-btn">X</div>

  <div class="axis-cover-crop"></div>

  <!-- soundcloud player -->
  <div class="soundcloud-player-container view-music left-container">
    <iframe width="305px" height="370" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/44456657&amp;color=000000&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
  </div><!-- .soundcloud-player-container -->

  <div class="itunes-link-container left-container">
    <a href="https://itunes.apple.com/us/album/earth-on-its-axis-single/id888363416?uo=4" target="itunes_store" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_itunes-lrg.png) no-repeat;width:110px;height:40px;@media only screen{background-image:url(https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_itunes-lrg.svg);}"></a>
  </div> 

  <!-- <div class="left-container">
    <%#= render 'bio_copy' %>
  </div>
 -->
  <div class="clear"></div>


</div><!-- .music_box_container -->