     
<div class="front_page_text_space_hidden">&nbsp;</div>

<div id="front_page_text" class = "front_page_container">
  <div class="front_text">
    <span class="highlight">Xander Duell.</span> Composer. Performer.
  </div>

  <% unless @post.blank? || @post.body == "" %>
    <div class="frontpage_posts">
      <div class="frontpage_title_container">
        <span class="frontpage_post_text"><%= simple_format(@post.body) %></span>
      </div>
    </div><!-- .frontpage_posts -->
  <% else %>
    <div class="frontpage_title_container titles_empty_container">
      <span class="frontpage_post_text"><span class="titles_empty_post_body_text highlight_text">Come back soon</span>, news, tour dates and more are on their way.</span>
    </div>
  <% end %>

  <div class="social_container">
    <a href="https://www.facebook.com/pages/Xander-Duell/128971710446707"><span class="sprite_facebook"></span></a>
    <a href="https://twitter.com/xanderduell"><span class='sprite_twitter'></span></a>
    <a href="http://instagram.com/xanderduell "><span class="sprite_instagram"></span></a>
  </div>

  <div class="frontpage_post_body_text contact_text_container">
    contact: <a href="mailto:xanderduell@gmail.com" target="_top">xanderduell@gmail.com</a>
  </div>
</div> 