<div class="dark2"></div>
<div class="dark3"></div>
<div class="dark4"></div>
<div class="wrapper">
    <div id="wrapper_nav">
      <div class="title">
        <h1>XANDER DUELL</h1>
      </div><!-- .title -->
      <div class="menu">
        <nav>
          <ul>
            <li><a href="#" id="listen" class="top_menu underline">MUSIC</a></li>
            <li><a href="#" id="theater" class="top_menu underline">THEATER</a></li>
            <li><a href="#" id="film" class="top_menu underline">FILM</a></li>
          </ul>
        </nav>
      </div><!-- .menu -->
    </div><!-- #wrapper_nav -->


    <div id="container">
      <div class="image-1">
        <!-- This div shades the first img -->
        <div id="shade1" class="dark1">&nbsp;</div>
        &nbsp;
      </div>
      <div class="container-pad">
        &nbsp;
      </div>

      <div class="front_page_text_space_hidden">&nbsp;</div>

      <div id="front_page_text" class = "front_page_container">
        <div class="front_text">
          <span class="highlight">Xander Duell.</span> Composer. Performer.
        </div>

        <div class="upcoming_events">
          <div class="front_text">
            <span class="highlight"><u>Upcoming Events</u></span>
          </div>
          <div class="front_text">
            <%# @blogs.each do |blog| %>
              <%#= blog.billboard_text.gsub(/\n/, '<br/>') %>
              <!-- <br /> -->
            <%# end %>
            <%#= @blog.billboard_text.gsub(/\n/, '<br />').html_safe unless @blog.nil? %>
            <%#= "No upcoming events" if @blog.nil? || @blog.billboard_text.blank? %>
          </div>
        </div>

        <div class="front_text contact_text">
          contact: <a href="mailto:xanderduell@gmail.com" target="_top">xanderduell@gmail.com</a>
        </div>
      </div>

<!-- LISTEN_CONTAINER -->
        <div id="listen_container" class = "front_page_container2">
          <hr class="song">
          <div class="song-row row1">
            <div class="song1-marker music-note">
              &nbsp;
            </div>
            <div class="listen-title">
              <a href="#" id="1" class="song2 music-btn">Beat Boxes</a>
            </div>
          </div>
          <hr class="song">
          <div class="song-row row2">
            <div class="song2-marker music-note">
              &nbsp;
            </div>
            <div class="listen-title">
              <a href="#" id="2" class="song1 music-btn">Santori Time</a>
            </div>
          </div>
          <hr class="song">
          <div class="song-row row3">
            <div class="song3-marker music-note">
              &nbsp;
            </div>
            <div class="listen-title">
              <a href="#" id="3" class="song3 music-btn">Endure Me</a>
            </div>
          </div>
          <hr class="song">
          <div class="song-row row4">
            <div class="song4-marker music-note">
              &nbsp;
            </div>
            <div class="listen-title">
              <a href="#" id="4" class="song4 music-btn">Emma Baby</a>
            </div>
          </div>
          <hr class="song">
          <div class="song-row row5">
            <div class="song5-marker music-note">
              &nbsp;
            </div>
            <div class="listen-title">
              <a href="#" id="5" class="song5 music-btn">X (I Don't Wanna Go Home)</a>
            </div>
          </div>
          <hr class="song">
          <div class="song-row row6">
            <div class="song6-marker music-note">
              &nbsp;
            </div>
            <div class="listen-title">
              <a href="#" id="6" class="song6 music-btn">Live &amp; Learn</a>
            </div>
          </div>
          <hr class="song">
          <div class="song-row row7">
            <div class="song7-marker music-note">
              &nbsp;
            </div>
            <div class="listen-title">
              <a href="#" id="7" class="song7 music-btn">Joy [In Due Time]</a>
            </div>
          </div>
          <hr class="song">
        </div>


<!-- NEWS_CONTAINER -->
        <div id="news_container" class="front_page_container3">
            NEWS
        </div>

<!--  CONTACT_CONTAINER -->
        <div id="contact_container" class="front_page_container3 ">
          <span class="email_text">xanderduell@gmail.com</a>
        </div>

<!-- IMAGE2 -->
        <div class="image2">
          <div id="shade" class="dark">&nbsp;</div>
          <div id="listen-audio-player" class="dark-text">
            <!-- AUDIO PLAYER -->
            <div id="experimental_tape_row" class="audio-player-wrapper">
              <div class="left cover">
                <img src="./assets/cover_waide.jpg" height="60" width="60">
              </div>
              <div class="right">
                <div class="player_songTitle playerPadding">"Beat Boxes"</div>
                <div class="player_albumTitle playerPadding">WADE LAISTE</div>
                <div class="player_labelTitle playerPadding"></div>
                <div id="audioplayer" class="listen_text">
                  <div class="song-player song1-player ">
                    <audio src="./assets/beat_boxes_remix.mp3" preload="none" />
                  </div>
                  <div class="song-player song2-player">
                    <audio src="./assets/santori.mp3" preload="none" />
                  </div>
                  <div class="song-player song3-player ">
                    <audio src="./assets/endure.mp3" preload="none" />
                  </div>
                  <div class="song-player song4-player ">
                    <audio src="./assets/emma_baby.mp3" preload="none" />
                  </div>
                  <div class="song-player song5-player ">
                    <audio src="./assets/x.mp3" preload="none" />
                  </div>
                  <div class="song-player song6-player ">
                    <audio src="./assets/live_n_learn.mp3" preload="none" />
                  </div>
                  <div class="song-player song7-player ">
                    <audio src="./assets/joy.mp3" preload="none" />
                  </div>
                </div><!-- #audioplayer -->
              </div><!-- .right -->
            </div><!-- .experimental_tape_row -->
            <div class="listen-song-text">
              <span class="experimental_text">
                <p>
It’s going to take more than the space provided here to sum up the ideas and talent of NYC’s Xander Duell, who has fused decades’ worth of nuance into these thirteen songs. The implication in the title of this one is at least somewhat correct in that the experimental nature of Duell’s music rears its head in style and content atop songwriting that touches the emotional core without hesitation or regret. There is joy and sadness here, electronics and guitars, grandeur alongside the neon-lit sleaze. Calibrate your expectations appropriately on this one, but be prepared to have them shattered by this outsider work, in the spirit of Scott Walker’s numbered albums and the prime cut of ‘70s soft rock.
                </p>
              </span>

              <span class="wade_text">
              <p>
                Xander Duell exists in a parallel universe.  Experimental Tapes: Volume 2, released in 2011 on Mexican Summer, was a bit too much for most people to wrap their heads around.
              </p>

              <p>
                Though the record was far from being high-profile, it did attract a disparate array of musician fans.
              </p>

              <p>
                For his follow-up full-length, Wade Laiste, Xander was able to bring together the unlikely musical pairing of producers Andrew Wyatt of pop behemoths Miike Snow, and Damon McMahon, the voice behind Brooklyn’s Amen Dunes.
              </p>

              <p>
                Recorded in Sear Sound, one of New York City’s most renowned and historic recording studios, with a hyper-real rhythm section composed of David Bowie’s drummer (Sterling Campbell) and Maxwell’s bassist (Hod David), as well as musical accompaniment by producers Andrew Wyatt and Damon McMahon, the result is a surrealist medicated daydream coasting along the deepest and most immaculately precise grooves. Where Experimental Tapes: Volume 2 was raw and inward bedroom-pop, Wade Laiste is slick and extroverted future soul.
              </p>

              <p>
                It’s David Lynch blues & pill-head 2013 Avant-soul born from some of the deepest and most unusually combined musicianship on any record to come out of New York City for quite some time.
              </p>
              </span>
            </div>
          </div><!-- .listen-audio-player -->

        </div>
        <div class="image3">
          <span class="image-3"></span>
        </div>

        <div class="clear"></div><!-- .clear -->

<!-- THEATER MODAL -->
        <div id="theater_container" class="theater_container">
            <div class="theater-title">
              For Lars Jan and Early Morning Opera
            </div>
            <div class="theater-list">
              <ul>
                <li>
                  Psychocosmonautics (2003, 2004) – pre-recorded ambient music and live rock and vocals (MYX gallery, NYC; Philadelphia Fringe Festival, PA)
                </li>
                <li>
                   Satonawall (Whitney) (2005) – prepared cello music, wrote and conducted live New Orleans-funeral dirge horn section (Whitney Museum, NYC)
                </li>
                <li>
                  Lunacy Commission (2009) – sound design and led a lunacy-themed rock band (Kirk Douglas Theatre, Los Angeles)
                </li>
                <li>
                  Suicide Bombing By Invitation Only (2010) - composed all music, led a string quartet with woodwinds, played piano, led a noise-rock band (Whitney Museum, NYC)
                </li>
                <li>
                  Suicide Bombing By Invitation Only Reprised (June, 2011) at the Hi-Lite Gallery in Los Angeles
                </li>
              </ul>
            </div>
            <div class="theater-title">
              For Poor Dog Group's Theatre, Los Angeles
            </div>
            <div class="theater-list">
              <ul>
                <li>
                  Dionysia (2011) – composed and recorded music for piece, performed 2 nights at the EMPAC center in Troy, NY.  Everything You Ever Wanted – composed, recorded and performed. One night only at the Collapsable Hole
                </li>
              </ul>
            </div>
            <div class="theater-title">
              For Mind Melt Theater Group: Christmapocalypse (2011)
            </div>
            <div class="theater-list">
              <ul>
                <li> Composed twisted versions of Christmas carols</li>
              </ul>
            <div class="theater-title">
              For Kristin Marting and the HERE Gallery
            </div>
            <div class="theater-list">
              <ul>
                <li> Trade Practices (2013) – in progress now</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="theater_video_container">
         <iframe width="480" height="360" src="http://www.youtube.com/embed/aI0jWYEDNPA?rel=0" frameborder="0" allowfullscreen></iframe>
        </div><!-- .theater_video_container -->
<!-- FILM MODAL -->

<!-- FILM_CONTAINER -->
        <div class="film_container">
          <div class="filmRow">
            <div class="filmTitle">
              <a href="http://smallbeautifullymovingparts.com/" target="_blank">Small, Beautifully Moving Parts</a>
            </div>
            <div class="filmDetail film_left">
              <div class="filmQuoteHolder">
                <span class="filmQuote">"Effortlessly engaging ... Hollyman has a lovable screen presence."</span>
                <br><span class="filmPromoName">-Roger Ebert</span>
              </div>
              <div class="filmQuoteHolder">
                <span class="filmQuote">"Unmistakably human in its warmth, an indie road movie that runs like clockwork."</span>
                <br><span class="filmPromoName">-IFC.com</span>
                </div>
              </div>
            </div>
            <div class="filmDetail">
              <iframe src="http://player.vimeo.com/video/34546697" width="400" height="225" frameborder="0"></iframe>
            </div>
            <div class="filmSpacer">
              <hr>
            </div>
            <div class="filmRow space-bottom-75">
              <div class="filmTitle">
                <a href="http://futurestates.tv/episodes/hollow" target="_blank">Hollow</a>
              </div>
              <div class="filmDetail filmQuote film_left">
                "The web is no longer secure, but Neurolock (TM) can encrypt data using the human brain.  Iris struggles to choose between unemployment and a job as a "neuro-messenger," a career with unwanted side effects."
              </div>
            </div>
            <div class="filmDetail spaced-bottom-75">
              <iframe width="400" height="225" src="http://www.youtube.com/embed/ts1blAppSBY?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>


        <div class="container-pad">
            &nbsp;
        </div>
    </div><!-- #container -->

    <footer>
        <span class="footer-highlight">COPYRIGHT 2013.</span>
    </footer>
</div><!-- #wrapper -->



