<div class="modal-background-overlay"></div>

<div class="wrapper">
  <div id="wrapper_nav">
    <div class="logo_container">
      <h1>XANDER DUELL</h1>
    </div><!-- .title -->
    <div class="menu">
      <nav>
        <ul>
          <li><a href="#" id="video" class="top_menu underline">VIDEO</a></li>
          <li><a href="#" id="music" class="top_menu underline">MUSIC</a></li>
          <li><a href="#" id="home" class="top_menu underline">NEWS</a></li>
        </ul>
      </nav>
    </div><!-- .menu -->
  </div><!-- #wrapper_nav -->

  <div id="music_container">
    <%= render 'music_box' %>
  </div> <!-- #music_container -->

  <div id="container">
    <div class="image-1"></div>

    <div class="container-pad">
      &nbsp;
    </div>

    <%= render 'news_box' %>

    <div class="image2"></div>

    <div class="image-3"></div>

    <div class="clear"></div><!-- .clear -->

    <div class="container-pad">
        &nbsp;
    </div>
  </div><!-- #container -->

  <footer>
    <span class="footer-highlight">COPYRIGHT <%= Time.zone.now.year %>. XANDERDUELL.COM</span>
  </footer>
</div><!-- #wrapper -->



