.admin-input {
  width: 300px;
  display: block;
  margin: 0 auto;

  font-family: "brandon-grotesque",sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.admin-cred-input {
  width: 200px;
  height: 120px;
  display: block;
  margin: 0 auto 30px auto;
  font-family: "brandon-grotesque",sans-serif;
  font-size: 18px;
  border: 1px solid black;
  font-weight: 400;
  padding: 20px;
  text-align: center;
}


.current-text {
  margin-bottom: 20px;
  font-weight: bold;
}

.admin-new-text {
  margin-top: 100px;
  margin-bottom: 20px;
  font-weight: bold;
}

.admin-header {
  font-family: "brandon-grotesque", sans-serif;
  width: 100%;
  height: 70px;
  background-color: #44434B;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 50px;
  color: white;
  font-weight: 400;
  font-size: 24px;
}

.admin-submit {
  margin-top: 20px;
}

.admin-logout {
  text-align: center;
  margin-top: 40px;
}

.submit-btn {
  margin: auto;
  text-decoration: none;
  display: block;
  height: 40px;
  background-color: #DBE8FD;
  color: black;
  padding: 10px;
  border-radius: 5px;
  width: 130px;
  border: 1px solid black;
  font-weight: 800;
}

.submit-btn:hover {
  background-color: yellow;
}

.logout-btn {
  text-decoration: none;
  display: block;
  height: 30px;
  background-color: blue;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.logout-btn:hover {
  background-color: yellow;
  color: black;
  border: 1px solid black;
}


