.audiojs .play {
  background: url("./audiojs/player-graphics.gif") -2px -1px no-repeat;
}

.audiojs .pause {
  background: url("./audiojs/player-graphics.gif") -2px -91px no-repeat;
}

.audiojs .loading {
  background: url("./audiojs/player-graphics.gif") -2px -31px no-repeat;
}

.audiojs .error {
  background: url("./audiojs/player-graphics.gif") -2px -61px no-repeat;
}
