body {
  margin: 0px;
}

.wrapper {
  width: 1670px;
}

#wrapper_nav {
  color: #ffffff;
  background-color: #ffffff;
  min-height: 86px;
}

#container {
  background-color: #2f2f2f;
  max-height: 820px;
  padding: 44px 0 40px 0;
}

/* ==== */


.front_page_container {
  width: 335px !important;
  float: left;
  color: #cacaca;
  font-family: "brandon-grotesque",sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 400;
  margin: -3px 20px 0 0;
}
.frontpage_posts {
  margin-top: 40px;
  margin-bottom: 40px;
}

.frontpage_title_container {
  margin-bottom: 20px;
}

.frontpage_title_container.titles_empty_container {
  margin-top: 160px;
}

.frontpage_title_text {
  font-family: "brandon-grotesque", sans-serif;
  color: #00ffd0;
  font-size: .9em;
  font-weight: 800;
  letter-spacing: 2px;
}

.frontpage_post_text {
  font-family: "brandon-grotesque", sans-serif;
  // color: #FAFAFA;
  color: #EAEAEA;
  font-size: 17px;
  line-height: 1.4;
  letter-spacing: 1px;
  font-weight: 200;
}

.frontpage_post_body_container {
  margin-bottom: 20px;
}

.frontpage_post_body_text {
  font-size: .9em;
}

.titles_empty_post_body_text {
  font-size: 16px;
}

.frontpage_post_body_text a {
  font-family: "brandon-grotesque",sans-serif;
  color: #00ffd0;
  font-weight: 400;
  letter-spacing: 2px;
  text-decoration: none;
}

.frontpage_post_body_text a:hover {
  font-family: "brandon-grotesque",sans-serif;
  color: #fff;
  font-weight: 400;
  letter-spacing: 2px;
  text-decoration: none;
}


.contact_text_container {
  position: absolute;
  top: 836px;
}

@mixin sprite($url) {
  background: url($url) left top no-repeat;
  background-size: 50px;
  width: 50px;
  height: 50px;
  display: inline-block;  
  -webkit-transition-duration: .3s; /* Safari */
  transition-duration: .3s;
  margin: 0 5px;
  cursor: pointer;
}

@mixin sprite_hover {
  -webkit-filter: invert(0.7);
}

.sprite_facebook {
  @include sprite('facebook.png');
  margin-left: 0px;
}
.sprite_facebook:hover {
  @include sprite('facebook.png');
  @include sprite_hover;
  margin-left: 0px;
}

.sprite_twitter {
  @include sprite('twitter.png');
}
.sprite_twitter:hover {
  @include sprite('twitter.png');
  @include sprite_hover;
}

.sprite_instagram {
  @include sprite('instagram.png');
}
.sprite_instagram:hover {
  @include sprite('instagram.png');
  @include sprite_hover;
}

.social_container {
  position: absolute;
  top: 780px;
  z-index: 10000;
}