$highlight_color: #00ffd0;


.group {
  float: left;
}

.text_left {
  text-align: left;
}

.text_right {
  text-align: right;
}

.text_center {
  text-align: center;
}

.highlight_text {
  color: $highlight_color;
}

.logo_container {
  width: 294px;
  height: 36px;
  display: block;

  padding: 7px 0 0 338px;
  color: black;
  float:left;
}

