$highlight_color: #00ffd0;

.clear {
  clear: both;
}

.text_left {
  text-align: left;
}

.text_right {
  text-align: right;
}

.text_center {
  text-align: center;
}

.highlight_text {
  color: $highlight_color;
}

.logo_container {
  width: 294px;
  height: 36px;
  display: block;

  padding: 7px 0 0 338px;
  color: black;
  float:left;
}

.main_container {
  width: 1670px;
  margin: 0px auto;
}

body .music-modal-close-btn {
  display: none;
}

.modal-close-btn {
  font-family: "brandon-grotesque", helvetica;
  font-family: helvetica;
  font-size: 30px;
  font-weight: 800;
  color: #00ffd0;
  border: 4px solid #00FFCF;
  width: 30px;
  line-height: 30px;
  text-align: center;
  position: absolute;
  z-index: 1000;
  border-radius: 34px;
  padding: 5px;
  background-color: #000;
}

.modal-btn-container {
  width: 100%;
}