/* VIDEO */ 
#video_container {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;

  display: none;
}
  body.video #video_container {
    display: inline-block;
  }

body.video .video-modal-close-btn {
  display: block;
  top: -23px;
  right: -24px;
  cursor: pointer;
}
.video_box_container {
  width: 814px;
  height: 360px;

  padding: 20px;
  
  background-color: rgba(0,0,0,0.8);
  position: relative;
  margin: 220px auto;
  z-index: 100;

  border: 1px solid #00ffd0;
  border-radius: 5px;
  display: block;
}