.soundHeader {
  display: none;
}

.left-container {
  float: left;
}

footer {
  background-color: #ffffff;
  min-height: 110px;
  font-family: "brandon-grotesque",sans-serif;
  font-size: 20px;
  color: #000000;
  width: 800px;
  padding: 26px 0 0 0;
  color: #cacaca;
  font-weight: 400;
}


.footer-highlight{
  font-family: "brandon-grotesque",sans-serif;
  font-size: 20px;
  color: #00ffd5;
  font-weight: 800;
}

.container-pad {
  min-width: 32px;
  float: left;
}

.image-1 {
  width: 304px !important;
  height: 722px !important;
  float: left;
  margin-top: -2px;
  margin-right: -4px;
  background: url('front_page_img_1.jpg') no-repeat;
}

.image2 {
  width: 478px;
  min-height: 722px;
  max-height: 722px;
  float: left;
  margin: 0 30px 0 0;
  padding: 0;
  background: url('front_page_img_2.jpg') no-repeat;
  display: block;
}

.image-3 {
  width: 390px;
  height: 722px;
  display: block;
  float: left;
  background: url('front_page_img_3.jpg') no-repeat;
}

.front_page_container2 {
  width: 307px !important;
  float: left;
  color: #cacaca;
  font-family: "brandon-grotesque",sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 400;
  margin-right: 20px;
  display: none;
}
// .front_page_container3 {
//   width: 335px !important;
//   float: left;
//   color: #cacaca;
//   font-family: "brandon-grotesque",sans-serif;
//   letter-spacing: 1px;
//   font-size: 14px;
//   font-weight: 400;
//   margin-right: 20px;
//   display: none;
// }

// .front_page_container3 {
//   width: 355px !important;
//   float: left;
//   color: #cacaca;
//   font-family: "brandon-grotesque",sans-serif;
//   letter-spacing: 1px;
//   font-size: 14px;
//   font-weight: 400;
//   margin: 234px 0 0 0;
// }

.front_page_text_space_hidden {
  width: 335px;
  float: left;
  margin: 0 20px 0 0;
  display: none;
}

.menu {
  position: relative;
  top: 30px;
  left: 20px;
  color: black;
  z-index: 90;
  width: 1200px;
}

nav ul {
  display: inline-block;
  margin: 0;
  font-family: "brandon-grotesque",sans-serif;
  font-size: 18px;
  font-style: bold;
  color: #000000;
  font-weight: 800;

}

nav ul li {
  text-decoration: none;
  list-style: none;
  display: inline-block;
  margin: 0 30px 0 0;
  color: #000000;
  font-weight: 800;
  letter-spacing: 3px;
}

nav ul li a{
  display: inline-block;
  text-decoration: none;
  color: #000000;
  font-weight: 800;
}

nav ul li a:visited {
  text-decoration: none;
  color: #000000;
  font-weight: 800;
}

.selected {
  color: #00ffd0 !important;
  font-weight: 800;
  text-decoration: none;
  border-bottom: 4px solid #00ffd0;
}

h1 {
  font-family: "brandon-grotesque",sans-serif;
  font-size: 26px;
  font-weight: 800;
}

h2 {
  font-family: "brandon-grotesque",sans-serif;
  font-size: 26px;
}

h3 {
  font-family: "brandon-grotesque",sans-serif;
  font-size: 20px;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

.hidden {
  visibility: hidden;
}

.left {
  float: left;
}
/*LISTEN PAGE*/

.listen-song-text {
  margin-left: 0px;
  margin-top: -30px;
  font-size: .9em;
  font-family: "brandon-grotesque",sans-serif;
  color: #cacaca;
  font-weight: 200;
  font-style: italic;
  padding: 20px;
}

.wade_text {
  display: none;
}


.listen_album_row {
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
}


.experimental_title {
  padding: 0 0 0 10px;
}
#experimental_tape_row {
}

.cover {
  /*padding: 20px 10px 0 0;*/
}

.listen_title {
  color: #000000;
  font-family: "brandon-grotesque",sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 800;
  margin: 0 0 2px 0;
  /*padding: 28px 0 0 0;*/
}
.player_songTitle {
  color: #000;
  font-family: "brandon-grotesque",sans-serif;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 0 0;
  padding: -1px 0 0 10px;
}

.player_albumTitle {
  color: #000000;
  font-family: "brandon-grotesque",sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 800;
  margin: 0 0 0 0;
  padding: 0px 0 0 0;
}

.playerPadding {
  margin-left: 70px;
}

.listen_text {
  color: #cacaca;
  font-family: "brandon-grotesque",sans-serif;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 200;
  margin: 0 0 2px 0;

}
.player_labelTitle {
  color: black;
}
/*TODO: delete */
.heading-description {
  color: #cacaca;
  font-size: 14px;
  letter-spacing: 1px;
}

.sub-title {
  color: #00ffd0;
  font-family: "brandon-grotesque",sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  color: #cacaca;
  padding: 10px 0 0 10px;
}

.right {
  width: 440px !important;
}


#listen_menu a {
  color: #00ffd0;
  font-family: "brandon-grotesque",sans-serif;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  background-color: yellow;
  display: inline-block;
  height: 50px;
  margin-top: -15px;
  margin-bottom: -14px;
}

.listen-top-row {
  width: 440px !important;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  margin: 20px 0 20px 40px;
}

#listen_player {
  background-color: #000;
  color: #fff;
}
.listen_right_album {
  /*width: 440px;*/
}
.listen_left_image {
  margin-right: 30px;
  float: left;
  width: 360px !important;
  height: 150px !important;
}


#releases-window{
  margin-bottom: 10px;
}

.description {
  color: #00ffd0;
  font-family: "brandon-grotesque",sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  color: #cacaca;
  margin: 0 0 10px 0;
  padding: 0 0 0 25px;
}

.hidden {
  visibility: none;
}
.space-bottom {
  margin: 0 0 20px 0;
}
.space-bottom-75 {
  margin: 0 0 75px 0;
}

.spaced-top-25 {
  margin-top: 25px;
}

hr {
  display: block;
  height: 2px;
  border: 0;
  border-top: 1px dotted #00ffd0 !important;
  /*margin: 1em 0; */
}

.listen-billboard {
  width: 100%;
  font-weight: 400;
  font-family: "brandon-grotesque",sans-serif;
  letter-spacing: 1px;
  margin-bottom: -10px;
  font-size: 26px !important;
  color: #ffffff;
}

/*CONTACT*/
.email_text {
  color: #00ffd0;
  font-size: 14px;
  font-family: "brandon-grotesque",sans-serif;
  letter-spacing: 1px;
  text-align: center;
}


nav ul li a:hover{
  color: #00ffd0 !important;
  font-weight: 800;
  text-decoration: none;
  border-bottom: 4px solid #00ffd0;
}

.song-player {
  display:none;
}

.song-row {
  /*background-color: #cacaca;*/
  height: 50px;
  margin-top: -15px;
  margin-bottom: -14px;
}

.listen-title{
  padding-top: 16px;
}

.title-white {
  color: white !important;
}


/* FILM */

.filmScreen {
  min-height: 722px;
  width: 285px;
  margin: 0 10px 0 0px;
  background-color: #AEA9A5;
  position: relative;
  top: -233px;
  padding: 20px;

  color: black;
}

/* THEATER */

.theater_container {
  background-color: rgba(0,0,0,0.8);
  border: 1px solid #00ffd0;

  color: #fff;
  font-size: 14px;
  font-family: "brandon-grotesque",sans-serif;

  display: none;
  position: absolute;
  top: 9.4em;
  left: 23.5em;
  width: 24em;
  height: 51em;
  padding-top: .3em;
  z-index: 40;
  overflow: auto;

  /*border-radius: 7px;*/
}

.theater-title {
  color: #00ffd0;
  font-size: 1.15em;
  font-family: "brandon-grotesque",sans-serif;
  margin-bottom: 1em;
  margin-top: .5em;
  padding-left: 1.5em;
  padding-bottom: .2em;
  border-bottom: .1em solid #00ffd0;
}

.theater-list {
  margin-bottom: 25px;
}

.theater-list ul li {
  color: #c5caca;
  font-size: .95em;
  font-family: "brandon-grotesque",sans-serif;
  line-height: 1.2em;
  margin-bottom: .6em;
  width: 20.2em;
}

.theater-list ul  {
  margin-bottom: 2.4em;
}

/* FILM */


.film_container {
  width: 600px;
  height: 600px;
  background-color: rgba(0,0,0,0.6);
  border: 1px solid #00ffd0;

  color: #fff;
  font-size: .9em;
  font-family: "brandon-grotesque",sans-serif;

  display: none;
  position: absolute;
  top: 9.1em;
  left: 22em;
  width: 56.5em;
  height: 47.4em;
  padding: 16px;
  z-index: 1002;
  overflow: auto;

}

.filmTitle {
  margin-top: 16px;
  padding-left: 10px;
}

.filmTitle a{
  color: #fff;
  font-size: 18px;
  font-family: "brandon-grotesque",sans-serif;
  text-decoration: underline;
  color: #00ffd0;
}

.filmDetail {
  color: #fff;
  font-size: 1em;
  font-family: "brandon-grotesque",sans-serif;
  font-style: underline;
  margin-bottom: -10px;
  margin-top: 10px;
  padding-left: 18px;
  text-decoration: none;

}

.film_left {
  float: left;
  width: 20em;
  margin-top: 2em;
  margin-right: 4em;
}

.film_right {
  padding-top: 20px;
}

.filmRow {
  margin-top: 10px;
  margin-bottom: 30px;
}

.filmSpacer {
  margin: 50px auto 40px auto;
}

.filmQuote {
  font-style: italic;
  color: #f0f0f0;
}

.filmPromoName{
  color: #ca473e;
  padding: 2px 0 0 20px;
}

.filmQuoteHolder {
  margin-bottom: 25px;
}

/* CONTACT */
.contactInformation {
  margin-top: 8em;
}

.theater_video_container {
  position: absolute;
  z-index: 40;

  top: 8.1em;
  left: 42.9em;

  width: 475px;
  height: 300px;

  display: none;
}



/* new body stuff */
body {
  margin: 0;
  padding: 0;
}

body .modal-background-overlay{
  background-color: rgba(0,0,0,0.0);
}
  body.music .modal-background-overlay,
  body.video .modal-background-overlay   {
    background-color: rgba(0,0,0,0.6);
  }

.modal-background-overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1050px;
  background-color: rgba(0,0,0,0.0);
  z-index: 10;
  -webkit-transition:  1s; /* For Safari 3.1 to 6.0 */
  transition:  1s;
}
